//Colors
$body-background: linear-gradient(to bottom, #c1edcc, #c1edcc 10%, #453f3c);
$nav-text: black;
$nav-background-phone: #b0c0bc;
$nav-background-tab-desk: #c1edcc;
$profile-background-text: gray;
$portfolio-title: black;
$portfolio-caption: gray;
$portfolio-background: linear-gradient(to bottom, #b0c0bc, #a7a7a9);
$footer-nav-text: black;
$contact-text: darkgray;
$contact-links: gray;

//Font Family
$body-font: "Roboto", sans-serif;

//Font Size
$background-text-tab: x-large;

//Box Shadows
$contact-box-shadow: 0 -5px 6px 1px rgba(0, 0, 0, 0.32);
$portfolio-image-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.32);

//Media Q's
$tablet-width: 768px;
$desktop-width: 1024px;
